html
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body 
{
	background: #fefefe none repeat scroll 0 0;	
	font-family: arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 750px;
}

#page {
	background-color:#efefef;
	width:600px;
	margin:50px auto;
	padding:20px 150px 20px 50px;
	min-height:600px;
	border:2px solid #fff;
	outline:1px solid #ccc;
	text-align:left;
}

h1, h2 {
	letter-spacing:-1px;
	color:#2D5AC3;
	font-weight:normal;		
	
}

h1 {
	font-size:22px;
}

h2 {
	font-size:18px;
}

#header
{
	background: #111111 none repeat scroll 0 0;
	background-image: url(/images/header.png);
	padding: 10px 4%;
	border-bottom: 3px solid #5555a5;
	height: 75px;
	padding-bottom: 0;
	padding-top: 8px;
	
}

#logo
{
	margin-top: 20px;
	width: 400px;
}

#logo a
{
	color: #c8c8c8;
	color: #ff5555;
	width: 223px;
	height: 33px;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;	
	background-color: #5050FF;
	padding: 5px 10px 5px 10px;
	border: 3px solid #5555A5;
}

#logo a:hover
{
	background-color: #8c8cfc;
	border: 2px solid #222222;
	color: #5050ff;
	color: red;
}

#search
{
	margin-top: 20px;
	float: right;
	height: 20px;
	width: 270px;
	border: 3px solid #aaa;
	font-size: 20px;
	padding: 7px;
}

#search:hover
{
	background-color: #e3e3ff;
}

#flash
{
	float: left;
	margin-left: 50px;
}

#body
{
	height: 100%;
}

#body h2
{
	font-size: 23px;	
	text-align: center;
	
}

#sidebar
{
	background: #d9d9ff none repeat scroll 0 0;
	width: 250px;
	float: left;
	padding-top: 20px;
	border-right: 3px solid #5555a5;
	border-bottom: 3px solid #5555a5;
	margin-left: -100%;
	text-align: center;
	height: 100%;
	
}

#sidebar a
{
	color: #5050ff;
	font-weight: bold;
	text-align: right;
}

#sidebar .new
{
	color: red;
	font-size: 21px;	
}

#sidebar a:hover
{
	color: #50ff50;
}

#main
{
	float: left;
	width: 100%;
}

#main_col
{
	margin-left: 250px;
}

.innertube
{
	margin: 0 10px 10px;
}

#video
{
	margin-left: 55px;
}

.video_show
{
	padding-left: 20px;
	margin-left: 20px;
}

.video_container
{
	width: 100%;
	height: 100%;
}

#video_replies
{
	margin-right: 20px;
	border: 3px solid #2d5a93;
	background-color: #EDEDFF;
	padding: 10px;
}

.less {
	color:#999;
	font-size:12px;
}

a {
	color:#295c72;		
}

.video_thumb
{
	float: left;
	margin: 5px;
	width: 200px;
}

a.video_thumb
{
	text-align: center;
	float: left;
	margin: 20px;
	padding: 10px 18px 0px 18px;
	border: thin solid #5555A5;
	background-color: #ddddff;
	text-decoration: none;
	
}

a:hover.video_thumb 
{
	background-color: #ddffdd;
}

.video_thumb p
{
	margin-top: 3px;
		font-size: 80%;
}

.polaroid
{

}

.clearing
{
	clear: both;
	margin: 5px;
	width: 5px;
	height: 5px;
}

.clear-right
{
	clear: right;
	
	margin: 5px;
	width: 5px;
	height: 5px;	
}

.pagination
{
	text-align: center;
	margin: auto;
	width: 400px;
	font-size: 80%;	
}

.pagination a 
{
	color: 
}

.page-wide
{
	bottom: 0;
	margin-top: 75px;
	position: relative;
	
	margin: auto;
	float: right;
	margin-top: 75px;
	
}


#footer
{
	width: 100%;
	height: 60px;
	background-color: black;
	border-top: 3px solid #5555a5;
	clear: left;
	padding-top:20px;
	padding-bottom:10px;
	text-align: center;
	font-weight: bold;
	color: #c8c8c8;
	
}

input
{
	height: 30px;
	border: 3px solid gray;
	width: 300px;
	font-size: 120%;
	
}

textarea.text
{
	border: 3px solid gray;
	width: 300px;
	height: 120px;
	font-size: 120%;
}

input.submit
{
	width: 200px;
	height: 50px;
	background-color: #777777;
	border: 3px solid #BBBBBB;
}


input.submit:hover
{
	width: 200px;
	height: 50px;
	background-color: #BBBBBB;
	border: 3px solid #777777;
	color: black;
}

input.file
{
  width: 300px;
}



label
{
	font-weight: bold;
	color: #222255;
}

.reply
{
	margin-top: 10px;
	border-top: 2px solid #BBBBFF;
}

.author
{
	font-size: 80%;
	font-weight: bold;
}

.gray { color: gray; }


#new_video table
{
  width: 400px;
}

.td-left
{
  text-align: right;
}

.tags
{
	color: #AA4444;
	font-size: 80%;
}

#tagcloud a
{
	padding: 15px;
}
  .css1 { font-size: 0.4em; }
  .css2 { font-size: 0.8em; }
  .css3 { font-size: 1.3em; }
  .css4 { font-size: 1.6em; }

#flash
{
	font-weight: bold;
	font-size: 80%;
	margin: 5px;
	padding: 3px;
	border: 1px solid gray;
	border-bottom: 2px solid black;
	border-right: 2px solid gray;
		
}

.flash_notice
{
	color: green;
}

.flash_warning, .flash_error
{
	color: red;
}

